<div class="container">
  <div class="row text-center">
    <h1>Sudoku Solver</h1>
  </div>
  <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <table>
    <% count = 0 %>
    <% @game.each do |row| %>
      <tr class="text-center">
      <% row.each do |cell| %>
        <td id="<%= count %>"><%= cell %></td>
        <% count += 1 %>
      <% end %>
      </tr>
    <% end %>
  </table>
  </div>
</div>
